
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.info-container {
  font-size: 14px;
  max-width: 1140px;
}

.info-container div.right {
  font-size: 13px;
}

.info-container span.badge {
  font-weight: inherit;
}

.border-top {
  border-top: 1px solid lightgray;
  padding: 10px 0px;
}

.toast-top-full-width {  
  top: 56px;
} 