
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

@font-face {
  font-family: 'bitcoinregular';
  src: url('../assets/fonts/bitcoin-webfont.eot');
  src: url('../assets/fonts/bitcoin-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/bitcoin-webfont.woff2') format('woff2'),
       url('../assets/fonts/bitcoin-webfont.woff') format('woff'),
       url('../assets/fonts/bitcoin-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

.hidden {
  display: none;
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.no-padding {
  padding: 0px;
}

.margin-20 {
  margin: 20px;
}

.info-container {
  font-size: 14px;
  max-width: 1140px;
}

.info-container div.right {
  font-size: 13px;
}

.info-container span.badge {
  font-weight: inherit;
}

.border-top {
  border-top: 1px solid lightgray;
  padding: 10px 0px;
}

.toast-top-full-width {  
  top: 56px;
}

#chain .row.card-content {
  padding : 10px 35px;
  line-height: 33px;
}

#chain .row.card-content .col-1 {
  text-align: center;
}

#balance {
  font-family: bitcoinregular, arial, sans-serif;
}