<br>
<div class="card card-outline-warning">
    <div class="card-header"><h5 id="title"></h5></div>
    <div id="addr" class="card-body row info-container">
        <div class="col-6">
            <div class="row">
                <div id="addr-addr-lbl" class="col-md-3 left"></div>
                <div id="addr-addr" class="col-md-9 right"></div>
            </div>
            <div class="row">
                <div id="addr-balance-lbl" class="col-md-6 left"></div>
                <div class="col-md-6 right"><span id="addr-balance"></span> <span class="text-muted">BTC</span></div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div id="addr-tx-count-lbl" class="col-md-6 left"></div>
                <div id="addr-tx-count" class="col-md-6 right"></div>
            </div>
            
        </div>
    </div>
</div>
<br><br>

<script src="js/addr.js"></script>