
<h1 id="title" class="my-4"></h1>
<div id="block" class="card-body">
    <div class="col-md-6">
        <div class="row">
            <dt class="col-md-6 left">Height</dt>
            <dd id="block-height" class="col-md-6 right"></dd>
        </div>
        <div class="row">
            <dt class="col-md-6 left">Confirmations</dt>
            <dd id="block-confirmations" class="col-md-6 right"></dd>
        </div>
        <div class="row">
            <dt class="col-md-6 left">Taille</dt>
            <dd class="col-md-6 right"><span id="block-size"></span> <span class="text-muted">Bytes</span> </dd>
        </div>
        <div class="row">
            <dt class="col-md-6 left">Nombre de transactions</dt>
            <dd id="block-tx-count" class="col-md-6 right"></dd>
        </div>
    </div>
    <div class="col-md-6">
    </div>
</div>

<script src="js/block.js"></script>