
<h1 id="title" class="my-4"></h1>
<div id="block" class="card-body row info-container">
    <div class="col-md-4">
        <div class="row">
            <div id="block-height-lbl" class="col-md-6 left"></div>
            <div id="block-height" class="col-md-6 right"></div>
        </div>
        <div class="row">
            <div id="block-confirmations-lbl" class="col-md-6 left"></div>
            <div id="block-confirmations" class="col-md-6 right"></div>
        </div>
        <div class="row">
            <div id="block-size-lbl" class="col-md-6 left"></div>
            <div class="col-md-6 right"><span id="block-size"></span> <span class="text-muted">Bytes</span> </div>
        </div>
        <div class="row">
            <div id="block-tx-count-lbl" class="col-md-9 left"></div>
            <div id="block-tx-count" class="col-md-3 right"></div>
        </div>
        <div class="row">
            <div id="block-nonce-lbl" class="col-md-6 left"></div>
            <div id="block-nonce" class="col-md-6 right"></div>
        </div>
        <div class="row">
            <div id="block-reward-lbl" class="col-md-6 left"></div>
            <div class="col-md-6 right"><span id="block-reward"></span> <span class="text-muted">BTC</span></div>
        </div>
        <div class="row">
            <div id="block-version-lbl" class="col-md-6 left"></div>
            <div id="block-version" class="col-md-6 right"></div>
        </div>
        <div class="row">
            <div id="block-time-lbl" class="col-md-3 left"></div>
            <div id="block-time" class="col-md-9 right"></div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div id="block-bits-lbl" class="col-md-3 left"></div>
            <div id="block-bits" class="col-md-9 right"></div>
        </div>
        <div class="row">
            <div id="block-coinbase-lbl" class="col-md-3 left"></div>
            <div id="block-coinbase" class="col-md-9 right"></div>
        </div>
        <div class="row">
            <div id="block-difficulty-lbl" class="col-md-3 left"></div>
            <div id="block-difficulty" class="col-md-9 right"></div>
        </div>
        <div class="row">
                <div class="col">&nbsp;</div>
        </div>
        <div class="row">
            <div id="block-hash-lbl" class="col-md-3 left"></div>
            <div id="block-hash" class="col-md-9 right"></div>
        </div>
        <div class="row">
            <div class="col-sm-3 left">Block <span id="block-previous-lbl"></span></div>
            <div id="block-previous" class="col-md-9 right"></div>
        </div>
        <div class="row">
            <div class="col-md-3 left">Block <span id="block-next-lbl"></span></div>
            <div id="block-next" class="col-md-9 right"></div>
        </div>
        <div class="row">
            <div id="block-merkleRoot-lbl" class="col-md-3 left">MerkleRoot</div>
            <div id="block-merkleRoot" class="col-md-9 right"></div>
        </div>
    </div>
</div>

<h2 id="tx-title" class="my-4"></h2>

<div id="tx" class="card-body row">
</div>

<script src="js/block.js"></script>