
<h1 id="title" class="my-4"></h1>
<div id="block" class="card-body row">
    <div class="col-md-4">
        <div class="row">
            <div id="block-height-lbl" class="col-md-6 left">Height</div>
            <div id="block-height" class="col-md-6 right"></div>
        </div>
        <div class="row">
            <div class="col-md-6 left">Confirmations</div>
            <div id="block-confirmations" class="col-md-6 right"></div>
        </div>
        <div class="row">
            <div class="col-md-6 left">Taille</div>
            <div class="col-md-6 right"><span id="block-size"></span> <span class="text-muted">Bytes</span> </div>
        </div>
        <div class="row">
            <div id="block-tx-count-lbl" class="col-md-9 left">Nombre de transactions</div>
            <div id="block-tx-count" class="col-md-3 right"></div>
        </div>
        <div class="row">
            <div class="col-md-6 left">Nonce</div>
            <div id="block-nonce" class="col-md-6 right"></div>
        </div>
        <div class="row">
            <div class="col-md-6 left">Reconpense</div>
            <div id="block-reward" class="col-md-6 right"></div>
        </div>
        <div class="row">
            <div class="col-md-6 left">Version</div>
            <div id="block-version" class="col-md-6 right"></div>
        </div>
        <div class="row">
            <div id="block-time-lbl" class="col-md-3 left">Heure</div>
            <div id="block-time" class="col-md-9 right"></div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-3 left">Bits</div>
            <div id="block-bits" class="col-md-9 right"></div>
        </div>
        <div class="row">
            <div class="col-md-3 left">Coinbase</div>
            <div id="block-coinbase" class="col-md-9 right"></div>
        </div>
        <div class="row">
            <div class="col-md-3 left">Difficulté</div>
            <div id="block-difficulty" class="col-md-9 right"></div>
        </div>
        <div class="row">
                <div class="col">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-3 left">Hash du block</div>
            <div id="block-hash" class="col-md-9 right"></div>
        </div>
        <div class="row">
            <div class="col-sm-3 left">Block précedent</div>
            <div id="block-previous" class="col-md-9 right"></div>
        </div>
        <div class="row">
            <div class="col-md-3 left">Block suivant</div>
            <div id="block-next" class="col-md-9 right"></div>
        </div>
        <div class="row">
            <div class="col-md-3 left">MerkleRoot</div>
            <div id="block-merkleRoot" class="col-md-9 right"></div>
        </div>
    </div>
</div>

<h2 id="tx-title" class="my-4"></h2>

<div id="tx" class="card-body row">
</div>

<script src="js/block.js"></script>