<h1 class="my-4">Bitnode 
    <small>info</small>
  </h1>
<div class="row justify-content-around">
  <div class="card card-outline-warning col-md-5 no-padding">
    <div class="card-header"><h5>Synchronisation</h5></div>
    <div id="sync-container" class="card-body"></div>
  </div>
  <div class="card card-outline-warning col-md-5 no-padding">
    <div class="card-header"><h5>Réseau</h5></div>
    <div id="network-container" class="card-body"></div>
  </div>
</div>
<br>
<div class="row justify-content-around">
  <div class="card card-outline-warning col-md-5 no-padding">
    <div class="card-header"><h5>Nœud</h5></div>
    <div id="node-container" class="card-body"></div>
  </div>
  <div class="card card-outline-warning col-md-5 no-padding">
    <div class="card-header"><h5>Système</h5></div>
    <div id="system-container" class="card-body"></div>
  </div>
</div>

<script src="js/node.js"></script>
<script src="js/models/nodeModel.js"></script>