<h1 class="my-4">Bitnode 
    <small>info</small>
  </h1>
<div class="row">
  <div class="col-lg-6 portfolio-item">
    <div class="card h-100">
      <div id="sync-container" class="card-body">
        <h2 class="my-4">Synchronisation</h2>
      </div>
    </div>
  </div>
  <div class="col-lg-6 portfolio-item">
    <div class="card h-100">
      <div id="network-container" class="card-body">
        <h2 class="my-4">Réseau</h2>
      </div>
    </div>
  </div>
  <div class="col-lg-6 portfolio-item">
    <div class="card h-100">
      <div id="node-container" class="card-body">
        <h2 class="my-4">Nœud</h2>
      </div>
    </div>
  </div>
  <div class="col-lg-6 portfolio-item">
    <div class="card h-100">
      <div id="system-container" class="card-body">
        <h2 class="my-4">Système</h2>
      </div>
    </div>
  </div>
</div>

<script src="js/node.js"></script>
<script src="js/models/nodeModel.js"></script>